
# sku_name = ""
# always_on = ""

database_host     = ""
database_name     = ""
database_password = ""
database_user     = ""
# websites_web_container_name         = ""

docker_registry_url      = ""
docker_registry_username = ""
docker_registry_password = ""

# https://portal.azure.com/#@nexf.org/resource/subscriptions/f21f6baa-17bb-46c4-9f0c-82ebdb3a7412/resourceGroups/Ghost-Azure9030/providers/Microsoft.Storage/storageAccounts/medialabbb/overview
# websites_enable_app_service_storage = ""
websites_enable_app_service_storage = ""
storage_account_access_key          = ""
storage_account_name                = ""
storage_file_share_name             = ""
